@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@media only screen and (min-width: 767px) {

    * {
        margin: 0;
    }

    body {
        background-color: #FFFAEC;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
        margin-top: 2vh;
        color: #071122;
    }

    #headerTitle {
        border-bottom: 5px solid #71BEB1;
        margin-bottom: 5vh;


        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 8rem;
    }

    #headerBio {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        text-align: center;

        margin-bottom: 5vh;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
    }

    #mainBio {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;

        font-size: 2rem;
        margin-bottom: 5vh;
    }

    button {
        background-color: #99A7B0;
        border: solid white 5px;
        padding: 1vw 10vw;

        font-family: "Outfit", sans-serif;
        font-size: 5rem;
    }

    #scanButton {
        background-color: #99A7B0;
        border: solid white 5px;
        padding: 1vw 10vw;

        font-family: "Outfit", sans-serif;
        font-size: 5rem;
        cursor: pointer;
    }

    #scanButton:hover {
        background-color: #abdcff;
        color: black;
    }
}